<!DOCTYPE html>
<html ng-app>
<head>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  
	<script type="text/javascript" src="src/anagram.js"></script>
	<script type="text/javascript" src="src/dict.js"></script>
	<script type="text/javascript">
		var unscrambler = new AnagramUnscrambler(allWords.split(","));
	</script>
</head>

<body ng-controller="AnagramController">
<div class = "container">

	<div class = "jumbotron">
	<h1 class = "text-center">Welcome to Anagramer!</h1>
	<p class = "lead">Given me any scrambled English word and I can display all possible English words of the same length and the same characters.</p>


	<div class = "panel panel-default">
	<div class="input-group input-group-lg">
	  <span class="input-group-addon h3">Enter word to unscramble:</span>
	  <input type="text" class = "form-control" ng-model="scrambledword" ng-change="getWords()"/>
	</div>
	</div>
		
    <div class = "list-group">
    	<a href = "#"class = "list-group-item active h3">Here are all the words I found:</a>
    	<a href = "http://www.google.com/?gws_rd=ssl#q={{word}}" class = "list-group-item list-group-item-info h4 " ng-repeat="word in unscrambledWord">
    	<span class="glyphicon glyphicon-star-empty"></span> {{word}}
    	</a>
    </div>
   	</div>
    </div>


	<script type="text/javascript">
		function AnagramController($scope) {
	        $scope.getWords = function() {
				$scope.unscrambledWord = unscrambler.unscramble($scope.scrambledword);
	        }
	    }
	</script>

</body>
</html>